.card {
  height: 400px;
  width: 100%;
  display: block;
  position: relative;
  padding: 20px 0;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
  overflow: hidden;
  text-align: center;
  z-index: 5;
}

.card .user_photo {
  position: relative;
  background: #fff;
  padding: 5px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, .25);
}

.card #user_value {
  color: #2c2e31;
  font-size: 30px;
  margin: 10px;
  text-transform: capitalize;
}

.horizontal_center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

img {
  border-radius: 50%;
}

.card #user_title {
  color: #999;
  font-size: 18px;
  margin: 0;
}

.values_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  display: flex;

}

.values_list li {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 60px;
  float: left;
  margin: 20px;
  background-size: 378px;
  background-position-y: -48px;
  transition: all .25s ease-out;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 125px;
  top: 0;
  background: #6684e1;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  z-index: -1;
}

.values_list li:hover {
  background-color: #60ac39;
}

.values_list li.active {
  border-style: solid;
  border-color: rgba(201,76,76,.3);

}
